<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Signup Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/signin.css">
  </head>
  <body>
    <div class="container">
      <form class="form-signin" role="form" method="POST">
	<h1 class="form-signin-heading">Sign up</h1>
	<hr>
	{% with messages = get_flashed_messages() %}
	{% if messages %}
	{% for message in messages %}
	<div class="alert alert-info">
	  {{message}}
	</div>
	{% endfor %}
	{% endif %}
	{% endwith %}
	<input type="text" class="form-control" name="username" placeholder = "Username" autofocus>
	<input type="password" class="form-control" name="password" placeholder = "Password">
	<br>
	<br>
	<br>
	<button class="btn btn-lg btn-primary btn-block" type="submit" name="b" value="Register">Register</button>
	<br>
	Go back to log in:
	<button class="btn btn-lg btn-default btn-block" type="submit" name="b" value="Login">Login</button>
      </form>
      {% block body %}
      {% endblock %}
    </div>
  </body>
</html>
