<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <style>
      body {
      background-color: #b0c4de;
      padding-top: 70px;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><b>{{username}}</b></a></li>
            <li><a href="{{ url_for('logout') }}">Log out</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <div class="container">
      <h1>
      Welcome, {{ username }}
      <br>
      Age: {{ age }}
      <br>
      Gender: {{ gender }}
      </h1>
    </div>
  </body>
</html>
